body {
  background-color:rgb(226, 218, 218);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

article {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  border: rgb(90, 152, 88) 2px solid;
  border-radius: 8px;
  margin-top: 25px;
  background-color: rgba(232, 208, 32, 0.9);
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 100px;
  margin-left: 10px;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(73, 119, 71);
}
section {
  display: flex;
}

article {
  flex: 1;
}

.brunch {
  border-radius: 8px;
  margin-top: 35px;
  margin-bottom: 15px;
  background-color:rgb(90, 152, 88);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
}

.brunch-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.brunch img {
  display: flex;
  flex-direction: column;
}

.brunch p {
  font-size: 35px;
  margin-top: -5px;
  margin-left: 50px;
  margin-right: 50px;
}

.brunch-content a {
  margin-bottom: 14px;
  font-size: 22px;
  color: rgb(59, 59, 149);
}

.card {
  display: flex;  
  height: 210px;
  align-items: center;
  background-color: rgba(232, 208, 32, 0.9);
  margin-top: 10px;
  border: rgb(90, 152, 88) 2px solid;
  border-radius: 8px;
  padding: 4px;
  margin-left: 15px;
  margin-right: 20px;
}

.card img {
  width: 60%;
  height: 220px;
  flex: 0 0 auto;
  margin-right: 10px;
  margin-left: -4px;
  border-radius: 8px;
}

.card-content {
  margin-top: 0px;
}

.card-content h2 {
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 14px;
}

.card-content p {
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 1px;
  margin-left: 15px;
  margin-right: 25px;
  text-align: left;
}

.card-content a {
  color: rgb(59, 59, 149);
  margin-left: 10px;
}

footer {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  border: black 2px solid;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(247, 247, 242);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer div {
  flex: 1;
  margin-bottom: -5px;
}

footer img {
  margin-left: 150px;
}

footer p {
  padding-left: 500px;
  font-size: 20px;
}